/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #674bb1;
    font-family: 'Poppins', sans-serif;
}
.container {
    padding: 0 70px;
    margin: auto;
}
/* end global rules */
/* start the section */
.bkg {
    position: fixed;
    z-index: -1;
}
.logo {
    margin-top: 40px;
    width: 200px;
}
.main {
    display: flex;
    margin-top: 30px;
    color: white;
}
.a-l img {
    width: -webkit-fill-available;
}
.a-r {
    margin: 40px 0 0 70px;
}
.a-r h2 {
    font-size: 45px;
    line-height: 1.3;
}
.a-r p {
    margin-top: 25px;
    font-size: 20px;
    line-height: 1.4;
}
.a-r button {
    border: none;
    background-color: white;
    color: #674bb1;
    width: 200px;
    margin-top: 30px;
    padding: 15px 0px;
    border-radius: 5rem;
    box-shadow: 0 0 20px -5px black;
}
.social {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}
.social div {
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: white;
}
/* end the section */
/* other screen */
@media (max-width: 1200px) {
    .main {
        flex-direction: column;
    }
    .logo {
        justify-content: center;
    }
    .a-l {
        margin-top: 20px;
    }
    .a-r {
        text-align: center;
        margin-left: 0;
    }
    .a-r h2 {
        margin-top: 20px;
    }
    .social {
        justify-content: center;
        margin-bottom: 25px;
    }
}
@media (max-width: 560px) {
    .container {
        padding: 0 35px;
    }
    .logo {
        width: 150px;
    }
    .a-r h2 {
        font-size: 25px;
    }
    .a-r p {
        font-size: 17px;
    }
    .social {
        margin: 50px 0 20px 0;
    }
}
